<% if @pin.errors.any? %>
  <div class="error">
    <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>
    <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@pin, multipart: true) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="form-group row">
    <label for="pin_title" class="col-form-label">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="form-group row">
    <label for="pin_category_id" class="col-form-label">Category</label>
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div class="form-group row">
    <label for="pin_url" class="col-form-label">URL</label>
    <%= f.text_field :url %>
  </div>
  <div class="form-group row description">
    <label for="pin_text" class="col-form-label align-middle">Description</label>
    <%= f.text_area :text %>
  </div>
  <div class="form-group row">
    <label for="pin_slug" class="col-form-label">Slug</label>
    <%= f.text_field :slug %>
  </div>
  <div class="form-group row">
    <label for="pin_image" class="col-form-label">Image</label>
    <%= f.file_field :image %>
  </div>
  <%= f.fields_for :pinnings do |p| %>
    <div class="form-group row">
      <label class="col-form-label">Which board?</label>
      <%= p.collection_select(:board_id, current_user.boards, :id, :name, {}, {class: "form-control"}) %>
    </div>
      <%= p.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <div class="form-group row submit">
    <%= f.submit %>
  </div>
<% end %>
