<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    <%= "#{@pin.title}" %>
  </h1>
  <h3>
    This pin has been pinned by:
  </h3>
  <div class="users">
    <table>
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="show-pin">
  <p><%= "#{@pin.text}" %></p>
  <img src="<%= @pin.image.url(:medium) %>">
  <hr/>
  <p>
    <b>Visit <%= "#{@pin.title}" %> at: </b>
    <%= link_to "#{@pin.url}", "#{@pin.url}", html_options = {target: "_blank", class: "url"} %>
  </p>
  <%= render partial: "shared/repin_form", locals: {pin: @pin} %>
</div>
<br/>
<a href="/">
  <i class="fa fa-arrow-left"></i>
  Back to Home
</a>
