<p id="notice"><%= notice %></p>

<h1>Listing Followers</h1>

<div class="users">
  <table>
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Boards</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @followed.each do |followed| %>
        <tr>
          <td><%= followed.first_name %></td>
          <td><%= followed.last_name %></td>
          <td><%= followed.boards.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Follower', new_follower_path %>
