<p id="notice"><%= notice %></p>

<div class="users">
  <table>
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Boards</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @followed.each do |followed| %>
        <tr>
          <td><%= followed.first_name %></td>
          <td><%= followed.last_name %></td>
          <td><%= followed.boards %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
