<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @board.name %>
</h1>

<p>
  <strong>User:</strong>
  <%= @board.user %>
</p>

<%= render partial: "shared/pins_list" %>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
