<!DOCTYPE html>
<html>
<head>
  <title>Coder Pinterest</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if logged_in? %>
      <div class="dropdown">
          <button id="dropdownMenu1" class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown" aria-expanded="true">
            <%= "#{current_user.first_name}" %>
            <span class="caret"></span>
          </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
              <% current_user.boards.each do |board| %>
                <li role="presentation">
                  <%= link_to "#{board.name}", board_path(board), "role" => "menuitem", "tabindex" => "-1" %>
                </li>
              <% end %>
              <li role="presentation">
                <%= link_to "All Boards", "/boards", "role" => "menuitem", "tabindex" => "-1" %>
              </li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <%= link_to "Add a Pin", new_pin_path, "role" => "menuitem", "tabindex" => "-1" %>
              </li>
              <li role="presentation">
                <%= link_to "Add a Board", new_board_path, "role" => "menuitem", "tabindex" => "-1" %>
              </li>
              <li role="presentation">
                <%= link_to "Add a Follow", new_follower_path, "role" => "menuitem", "tabindex" => "-1" %>
              </li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <%= link_to "Home", root_path, "role" => "menuitem", "tabindex" => "-1" %>
              </li>
              <li role="presentation">
                <%= link_to "Followed Users", followers_path, "role" => "menuitem", "tabindex" => "-1" %>
              </li>
              <li role="presentation">
                <%= link_to "Logout", logout_path(current_user), :method => :delete, "role" => "menuitem", "tabindex" => "-1" %>
              </li>
            </ul>
        </div>
      <% end %>
    <%= yield %>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
